*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);

}
input {
    display: grid;
    grid-column:span 4;
    height:100px;
    width:260px;
    border-radius: 12px;
    color:#fff;
    background: #000;
    font-size: 33px;
    text-align: end;
    margin-bottom: 10px;
    cursor: none;

}
.calculator {
    display: grid;
    height: 460px;
    box-shadow: 0 -2px 5px 0 #5a5a5a;
    grid-template-columns: repeat(4,2fr);
    border: 1px solid #565151;
    border-radius: 37px;
    padding:15px;
    background: black;
}
button{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background:azure;
    height:59px;
    width:58px;
    font-size:20px;
    justify-content: space-between;
    transition: 500ms;
    font-family: ;
}
.first{
    background:cornflowerblue;
}
button:hover{
    background:skyblue;
    color:darkmagenta;

}
.first:hover{
    background:crimson;
    color:cornflowerblue;
}